.nodeBarContainer {
  
  transform: rotate(0); /* hack to get the z-index to work */
  z-index: 9;

  position: absolute;
  display: flex;
  flex-direction: column;

  width: 14rem;
  min-height: 100%;

  background: var(--dark);
}
.inNodeBarContainer {

  left: 0;
}
.outNodeBarContainer {

  right: 0;
}

.inNodeBar, .outNodeBar {
  width: 100%;

  background: var(--dark);
}
.nodeBar .node__row__container:nth-child(odd) {
  
  background: var(--lessDark);
}
.nodeBar .node__row__container:nth-child(even) {
  background: var(--dark);
}
.node {
  width: 18rem;
  position: relative;

  background: var(--lessDark);
  font-size: 1rem;

  font-family: Avenir;

  transform: scale(0.8);

  z-index: 10;
}

.node__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.5rem;

  color: var(--lessDark);
}
.node__row {
  transition-duration: 0.3s;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 3rem;

  padding: 0 1rem;
  font-size: 1rem!important;

  color: var(--white);
}
.node__row__info {
  height: 3rem;
}
.node__row:not(:last-child) .borderEl {
  position: absolute;
  align-self: center;
  margin: auto;

  height: 100%;
  width: calc(100% - 3rem);

  border-bottom: 1px solid var(--text);
}
.node__row.node__row--in {
  
  flex-direction: row-reverse;
  padding-left: 1.5rem;
  padding-right: 1rem;
}
.node__row.node__row--out {
  
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1.5rem;
}
.dot {
  position: absolute;
}
.dot:focus {
  background: rgba(255, 255, 255, 0.1);
}
.dot__child {
  transition-duration: 0.1s;
  width: 1rem;
  height: 1rem;

  border-radius: 50%;
  background: var(--white);
}
.node__row.node__row--in .dot {
  left: -1.5rem;
}
.node__row.node__row--out .dot {
  right: -1.5rem;
}
.nodeMapEditor {
  position: relative;
  display: grid;

  grid-template-areas: "topbar topbar" "editor sidebar";
  grid-template-rows: 5rem auto;
  grid-template-columns: auto 14rem;

  width: 100vw;
  height: 100vh;

  background: var(--text);
}
.editor {
  position: relative;
  grid-area: editor;

  overflow-y: scroll;
}
.topBar {
  display: flex;
  align-items: center;
  grid-area: topbar;

  z-index: 999;
  transform: rotate(0); /* hack to get the z-index working */

  padding: 0 1rem;

  background: var(--lessDark);
  border-bottom: 1px solid var(--text);
}
.node select {
  background: none;
  border: 1px solid var(--lessDark);

  height: 1.5rem;

  cursor: pointer;
}
.node select option {
  background: var(--lessDark);
  color: var(--white);

  cursor: pointer;
}
.button {
  width: 1.5rem;
  height: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.node__row__container {
  transition-duration: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 15px;
}
.node__row__container--expanded {
}
.expandButton {
  transition-duration: 0.1s;  

  width: 3rem;
  height: 3rem;
}
.expandButton:hover {
  transform: scale(1.1);
}
.expandButton:active {
  transform: scale(0.98);
}
.expandButton i {
  font-size: 1rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 3rem;
  padding: 0 1.5rem;
}
.nodeMapEditor > *:not(.noodle):not(.topBar) {
  z-index: 1;
}
.infoSidebar {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  grid-area: sidebar;
  
  min-height: 100%;
  padding: 1rem;
  
  background: var(--lessDark);
  border-left: 1px solid var(--text);
}
.errorCard {
  display: flex;
  flex-direction: column;

  width: 100%;

  border-radius: 2px;
  color: var(--lessDark);
}
.errorCard__topBar {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 3rem;
}