.input {

  display: flex;
  align-items: center;
  justify-content: center;

  --height: 3rem;

  height: var(--height);

  cursor: pointer;
  border-radius: 2px;

  transition-duration: 0.1s;
}
.input.square {
  width: var(--height);
}
.input.round {
  border-radius: 50%;
}
.input.medium {
  padding: 0 1rem;
  min-width: 10rem;
}
.input.long {
  width: 100%;
}

.dashed:not(:hover) {
  border: 2px dashed var(--text);
  color: var(--text);
}
.dashed:hover {
  border: 2px dashed var(--lightText);
  color: var(--lightText);
}
.bordered:not(:hover) {
  color: var(--text);
  border: 2px solid var(--text);
}
.bordered:hover {
  color: var(--lightText);
  border: 2px solid var(--lightText);
}
.solid:not(:hover) {
  background: white;
  color:#222;
}
.solid:hover {
  background: white;
  color:#222;
}
.button:hover {
  transform: scale(1.05);
}
.button:active {
  transform: scale(0.95);
}
.decent:not(:hover) {
  color: var(--text);
}
.decent:hover {
  color: var(--lightText);
}
.active {
  background: rgba(255, 255, 255, 0.1);
}